
@import url('https://fonts.googleapis.com/css?family=Aclonica|Aladin'); /*POLICE LEGEND*/
@import url('https://fonts.googleapis.com/css?family=Niconne');


body
{
    background-image: url(../imgs/wall-2093277_1920.jpg);
    /*background-color: whitesmoke;*/
}

.global-parametre
{
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px ridge #FACB28;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 15%;
}

.container
{
    padding: 10%;    
}

.global-parametre .row
{
    border-bottom: 2px ridge whitesmoke;
}

.global-parametre .container .row a
{
    float: right;
    font-size: 1.5em;
    font-family: 'Niconne', cursive;
    margin-top: 6px;
    color: #FACB28;
    text-shadow: 2px 2px 4px black;
}

.global-parametre .container .row p
{
    font-size: 1.6em;
    font-weight: bold;
    color: ;
    margin-top: 6px;

}